/* school search page css */
.schoolname {
    background-color: #ffffff;
    color: rgb(255, 98, 0);
    width: 17.2%;
    height: 40%;
    text-align: centre;
    position: absolute;
    top: 60%;
    left: 16.5%;
    transform: translate(-50%, 50%);
    text-transform: uppercase;
  }
  .brochbtn{
    position: absolute;
    bottom: 6%;
    right: 3%;
    font-size: 80%;
  }
  .schoolimg{
    width:100%;
    height:130%;
  }
  .banner{
    width: 100%; 
  }
  /* .school{
    background-image: url(../../assets/images/school6.webp);
    border-radius: 2%;
    height:100%;
   
  } */
  .view-schl-banner {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 40px 40px;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .ms--1 {
    margin-left: -1rem !important;
  }
  .w-13 {
    width: 13rem !important;
  }
  .ms-80px {
    margin-left: 5.3rem !important;
  }
  .mt--2 {
    margin-top: -2rem !important;
  }
  .schl-page-ad {
    width: 100%;
  }
  .h-80px {
    height: 5rem !important;
  }
  .w-45rem {
    width: 45rem !important;
  }
  .ms-1-2 {
    margin-left: 1.2rem !important;
  }
  .fc-g-b-m {
    color: #3d476f !important;
  }
  .fs-0-74 {
    font-size: 0.74rem !important;
  }
  .fs-0-8 {
    font-size: 0.8rem !important;
  }
  .rating-star {
    font-size: 0.67rem;
    width: 2rem;
  }
  .rating-bar {
    top: 0.45rem;
    left: 1rem;
  }
  .w-70 {
    width: 70%;
  }
  .me-2-5 {
    margin-right: 2.5rem !important;
  }
  .mb-2-5 {
    margin-bottom: 2.5rem !important;
  }
  .fs-0-56 {
    font-size: 0.56rem !important;
  }
  .h-10-4 {
    height: 10.4rem !important;
  }
  .avlbl svg {
    font-size: .8rem;
    margin-top: .15rem;
  }
  .avlbl {
    border-bottom: 1px solid green;
  }
  .nt-avlbl svg {
    font-size: .8rem;
    margin-top: .15rem;
  }
  .nt-avlbl {
    border-bottom: 1px solid red;
  }
  .info-nt-avlbl svg {
    font-size: .8rem;
    margin-top: .15rem;
  }
  .info-nt-avlbl {
    border-bottom: 1px solid blueviolet;
  }
  .ml-2 {
    margin-left: 2rem !important;
  }

